<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Untitled Dragon Game</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
  <div id="app">
    <div class="baseStatsContainer" v-if="player.baseStats.visible">
      <div class="w3-grey w3-round container downtooltip" v-for="baseStat in returnCounters(player.baseStats.data)">
        <div class="w3-round background w3-dark-grey" :style="{width: baseStat.current / baseStat.max * 100 + '%' }"></div>
        <div class="overlayText" v-html="baseStat.display(player)"></div>
        <div class="tooltiptext" v-html="baseStat.tooltip"></div>
      </div>
    </div>
    <div class="vitalsContainer" v-if="player.vitals.visible">
      <div class="tooltip header">
        {{player.vitals.display()}}
        <span class="tooltiptext" v-html="player.vitals.tooltip"></span>
      </div>
      <div class="w3-grey w3-round container tooltip" v-for="vital in returnCounters(player.vitals.data)">
        <div class="w3-round background" :class="vital.colour" :style="{width: vital.current / vital.max * 100 + '%' }"></div>
        <div class="overlayText tooltip" v-html="vital.display(player)"></div>
        <div class="tooltiptext" v-html="vital.tooltip"></div>
      </div>
    </div>

    <div class="actionsContainer" v-if="player.actions.visible">
      <div class="tooltip header">
        {{player.actions.display()}}
        <span class="tooltiptext" v-html="player.actions.tooltip"></span>
      </div>
      <div v-for="action in returnCounters(player.actions.data)">
        <div class="w3-round container tooltip"
          :class="action.active ? 'w3-dark-grey' : action.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="click(action, player.actionManager)">
          <div class="w3-round background"
            :class="action.active ? 'w3-black' : action.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: action.current / action.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="action.display(player)"></div>
          <div class="tooltiptext" v-html="action.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="actionsContainer" v-if="player.limitActions.visible">
      <div class="tooltip header">
        {{player.limitActions.display()}}
        <span class="tooltiptext" v-html="player.limitActions.tooltip"></span>
      </div>
      <div v-for="action in returnCounters(player.limitActions.data)">
        <div class="w3-round container tooltip"
          :class="action.active ? 'w3-dark-grey' : action.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="click(action, player.actionManager)">
          <div class="w3-round background"
            :class="action.active ? 'w3-black' : action.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: action.current / action.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="action.display(player)"></div>
          <div class="tooltiptext" v-html="action.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="actionsContainer" v-if="player.buildings.visible">
      <div class="tooltip header">
        {{player.buildings.display()}}
        <span class="tooltiptext" v-html="player.buildings.tooltip"></span>
      </div>
      <div v-for="action in returnCounters(player.buildings.data)">
        <div class="w3-round container tooltip"
          :class="action.active ? 'w3-dark-grey' : action.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="click(action, player.actionManager)">
          <div class="w3-round background"
            :class="action.active ? 'w3-black' : action.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: action.current / action.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="action.display(player)"></div>
          <div class="tooltiptext" v-html="action.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="resourceContainer" v-if="player.resources.visible">
      <div class="tooltip header">
        {{player.resources.display()}}
        <span class="tooltiptext" v-html="player.resources.tooltip"></span>
      </div>
      <div class="w3-grey w3-round container tooltip" v-for="rec in returnCounters(player.resources.data)">
        <div class="w3-round background w3-dark-grey" :style="{width: rec.current / rec.max * 100 + '%' }">
        </div>
        <div class="overlayText" v-html="rec.display(player)"></div>
        <div class="tooltiptext" v-html="rec.tooltip"></div>
      </div>
    </div>

    <div class="actionsContainer" v-if="player.spells.visible">
      <div class="tooltip header">
        {{player.spells.display()}}
        <span class="tooltiptext" v-html="player.spells.tooltip"></span>
      </div>
      <div v-for="action in returnCounters(player.spells.data)">
        <div class="w3-round container tooltip"
          :class="action.active ? 'w3-dark-grey' : action.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="click(action, player.actionManager)">
          <div class="w3-round background"
            :class="action.active ? 'w3-black' : action.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: action.current / action.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="action.display(player)"></div>
          <div class="tooltiptext" v-html="action.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="statContainer" v-if="player.skills.visible">
      <div class="tooltip header">
        {{player.skills.display()}}
        <span class="tooltiptext" v-html="player.skills.tooltip"></span>
      </div>
      <div v-for="stat in returnCounters(player.skills.data)">
        <div class="w3-round container tooltip"
          :class="stat.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="">
          <div class="w3-round background"
            :class="stat.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: stat.current / stat.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="stat.display(player)"></div>
          <div class="tooltiptext" v-html="stat.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="statContainer" v-if="player.attributes.visible">
      <div class="tooltip header">
        {{player.attributes.display()}}
        <span class="tooltiptext" v-html="player.attributes.tooltip"></span>
      </div>
      <div v-for="stat in returnCounters(player.attributes.data)">
        <div class="w3-round container tooltip"
          :class="stat.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="">
          <div class="w3-round background"
            :class="stat.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: stat.current / stat.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="stat.display(player)"></div>
          <div class="tooltiptext" v-html="stat.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="statContainer" v-if="player.spirits.visible">
      <div class="lefttooltip header">
        {{player.spirits.display()}}
        <span class="tooltiptext" v-html="player.spirits.tooltip"></span>
      </div>
      <div v-for="stat in returnCounters(player.spirits.data)">
        <div class="w3-round container lefttooltip"
          :class="stat.clickable(player) ? 'w3-grey' : 'w3-lightgrey w3-diabled'"
          type="button" @click="">
          <div class="w3-round background"
            :class="stat.clickable(player) ? 'w3-dark-grey' : 'w3-grey'"
            :style="{width: stat.current / stat.max * 100 + '%' }"></div>
          <div class="overlayText" v-html="stat.display(player)"></div>
          <div class="tooltiptext" v-html="stat.tooltip"></div>
        </div>
      </div>
    </div>

    <div class="optionContainer">
      <button class="w3-button w3-round w3-border w3-padding-small" @click="saveData()">Save</button>
      <button class="w3-button w3-round w3-border w3-padding-small" @click="reset()">Hard Reset</button>
      <button class="w3-button w3-round w3-border w3-padding-small" @click="reincarnate()">Soft Reset</button>
      <button class="w3-button w3-round w3-border w3-padding-small" @click="command()">Dev</button>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="src/player.js"></script>
  <script type="module" src="index.js"></script>
</body>

</html>